<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huashengmi.ui.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--baidu push-->
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--end-->

    <application
        android:name=".app.UiSampleApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.download.MultiDownloadActivity"
            android:label="@string/title_activity_download" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.download" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ui.download.db.DownLoadContentProvider"
            android:authorities="com.huashengmi.ui.android.ui.download"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".ui.download.common.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.download.DownloadTaskActivity"
            android:label="@string/title_activity_download_task" />
        <activity
            android:name=".ui.view.wheel.ProgressActivity"
            android:label="@string/title_activity_progress" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.net.volley.VolleyActivity"
            android:label="@string/title_activity_volley" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.net" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.net.retrofit.RetrofitActivity"
            android:label="@string/title_activity_retrofit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.net" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.net.asynchttpclient.AsyncHttpClientActivity"
            android:label="@string/title_activity_async_http_client" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.net" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.image.picasso.PicassoActivity"
            android:label="@string/title_activity_picasso" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.image" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.image.volley.VolleyImageActivity"
            android:label="@string/title_activity_volley_image" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.image" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.image.uil.UniversalImageLoaderActivity"
            android:label="@string/title_activity_universal_image_loader" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.image" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.image.imagehelper.ImageHelperActivity"
            android:label="@string/title_activity_image_helper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.image" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.turntable.SlyderActivity"
            android:label="@string/title_activity_slyder" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>

        <!-- 渠道 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="wandoujia" />
        <!-- 您从百度网站获取的APP	KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="9ce6e45d6f" />
        <!-- end -->
        <activity
            android:name=".ui.listview.LoadMoreActivity"
            android:label="@string/title_activity_load_more" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.listview" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.listview.SwipeRefreshActivity"
            android:label="@string/title_activity_swipe_refresh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.listview" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.listview.RefreshActivity"
            android:label="@string/title_activity_refresh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.listview" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.staggerdgrid.StaggeredGridViewActivity"
            android:label="@string/title_activity_staggered_grid_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.drag.DragViewActivity"
            android:label="@string/title_activity_drag_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.roboguice.RoboGuiceActivity"
            android:label="@string/title_activity_robo_guice" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.circle.CircleActivity"
            android:label="@string/title_activity_circle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.circle.CircleHeaderActivity"
            android:label="@string/title_activity_circle_header" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.androidannotation.AndroidAnnotationActivity_"
            android:label="@string/title_activity_android_annotation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.androidannotation.AASubActivity_"
            android:label="@string/title_activity_aasub" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.chart.ChartActivity"
            android:label="@string/title_activity_chart" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.huashengmi.ui.android.ui.view" />
            </intent-filter>
        </activity>
        <activity
            android:name=".baidu.BaiduPushActivity"
            android:label="@string/title_activity_baidu_push" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="com.huashengmi.ui.android.ui.baidu"></category>
            </intent-filter>
        </activity>

        <!--baidupush-->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求-->
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.baidu.android.pushservice.PushService" android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter >
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <receiver android:name=".baidu.MyPushMessageReceiver">
            <intent-filter>
                <!-- 接收自定义消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收 bind,unbind,fetch,delete 等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知消息的点击事件 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!--end-->
    </application>

</manifest>
